.header {
    overflow: hidden;
    width: 100%;
    padding: 9px 0px 30px 0;
    background-image: linear-gradient(100deg, #7159c1 , #866fd3);
    position: relative;

    .detail {
        width: 300px;
        height: 260px;
        background-color: #7159c1;
        position: absolute;
        right: -140px;
        top: -30px;
        border-radius: 100%;
        z-index: 0;
        opacity: 0.4;
        transform: rotate(60deg);
    }

    h1 {
        text-align: center;
        color: #ffffff;
        font-weight: 400;
        font-size: 17px;
        padding-top: 30px;
    }

    .container {
        display: flex;
        padding: 20px 10px 10px 10px;
        width: 90%;
        align-items: center;
        justify-content: space-between;

        div:nth-of-type(1) {
            order: 2;
        }

        div:nth-of-type(2) {
            order: 1;
        }
        
    }
}