* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html,
body { 
    height: 100%;
    overflow: hidden;
}

h1 {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 2px;
    color: #ffffff;
}