<app-page-name [pageName]="pageName" [subpage]="subpage"></app-page-name>
<div class="container">
    <div class="row">
        <div class="card-wraper col-12" *ngFor="let todo of categorieList">
            <a [routerLink]="['/itens', todo.id]">
                <app-card (click)="saveListName(todo.name)" [todo]="todo"></app-card>
            </a>
        </div>
    </div>
    <app-empty *ngIf="!categorieList.length" [text]="empty"></app-empty>
</div>
<app-button-task [text]="textBtn"></app-button-task>
<app-loader [spinner]="spinner"></app-loader>
