/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import './sass/reset';


button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    border-radius: 4px;
    
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.hide-border {
    &:focus {
        box-shadow: none;
        outline: none;
        border: 2px solid #735cc3;
    }
}

.content {
    width: 90%;
    margin: 0 auto;
}